<h1>My Tasks</h1>

<% @tasks.each do |task| %>

  <p>
    <input type="checkbox" name=<%= task.title %> <%= "checked" if task.completed %> >
    <label for= <%= task.title %> > <%= link_to task.title, task_path(task) %> </label>
  </p>

<% end %>

<p><%= link_to "Add a new task", new_task_path %></p>
